	
p {
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    font-size: 14px;
}
h1 {
    font-family: sans-serif;
    color: teal;
    font-size: 30px;
}
h2 {
    font-family: sans-serif;
    color: teal;
    font-size: 20px;
}